@charset 'utf-8';

/******************デフォルトデザイン変更・横幅設定*****************/
#sidebar-main, #contentSub{
    display:none;
}
p{
    margin:0px;
    line-height:2em;
    background-image:url(image);
}
table{
    font-size:16px;
}
#globalWrapper{
    -webkit-text-size-adjust:100%;
}
body{
    margin: 0;
    background-color:#ffffff;
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}
#column-content{
    min-width:1024px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    float:none;
    border:0px;
    position:relative;
}
#column-one{
    position:relative;
    min-width:1024px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    float:none;
    padding:0px;
    z-index:2;
}
#content, #bodyContent{
    min-width:1024px;
    margin-left:0px;
    margin-right:0px;
    border:0px;
    margin:0px;
    padding:0px;
    line-height:2em;
    font-size:16px;
}
a{
    color:#ffc148;
}
/*******メニューバー変更*******/
#p-cactions, #p-personal, #p-cactions .pBody, #p-personal .pBody{
    position:static;
    padding-left:0px;
    padding-right:0px;
    border:0px;
}
#p-cactions{
    float:left;
    width:45%;
}
#p-personal{
    float:right;
    width:55%;
}
#p-cactions ul, #p-personal ul{
    width:100%;
    height:20px;
    position:static;
    padding:0px;
    margin:0px;

    background-color:#cccccc;
}
#p-cactions ul{
    float:left;
    text-align:right;
}
#p-personal ul{
    float:right;
    text-align:left;
}
#p-cactions ul li, #p-personal ul li, #p-cactions li a, #p-personal li a, #p-cactions li a:hover, #p-cactions li.selected a, #p-cactions .new a, #p-personal li a:hover{
    position:static;
    padding-top:0px !important;
    padding-bottom:0px !important;
    margin:0px;
    border:0px;
    line-height:normal;
    font-size:12px;
    font-weight:normal;
    background-color:#cccccc;
    color:#ffffff;
}
li#pt-userpage, li#pt-anonuserpage, li#pt-login{
    background-image:none;
}
#p-cactions ul li, #p-personal ul li{
    padding-left:5px;
    padding-right:5px;
}
.firstHeading{
    display:none;
}
a, a:hover{
    text-decoration:none;
}


/******************コンテンツ設定*****************/
/*******HEADER*******/
#kyoto-header-line{
    position:fixed;
    width:100%;
    z-index:1;
    border-bottom:1px solid #ffffff;
    background-color:#1e1e20;
    opacity: 0.925;
}
#kyoto-header-wrapper{
    position:relative;
    width:960px;
    left:50%;
    margin-left:-480px;
    z-index:5;
    background-color:#1e1e20;
    opacity: 0.8;
}
#kyoto-header-home-wrapper, #kyoto-header-contact-wrapper{
    position:relative;
    width:15%;
    height:78px;
    float:left;
}
#kyoto-header-about-wrapper, #kyoto-header-history-wrapper, #kyoto-header-events-wrapper, #kyoto-header-team-wrapper, #kyoto-header-finance-wrapper{
    position:relative;
    width:14%;
    height:78px;
    float:left;
}
#kyoto-header-home, #kyoto-header-about, #kyoto-header-contact, #kyoto-header-history, #kyoto-header-events, #kyoto-header-team, #kyoto-header-finance{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;    
}
#kyoto-header-home{
    width:62px;
    height:26px;
}
#kyoto-header-about{
    width:65px;
    height:26px;
}
#kyoto-header-history{
    width:77px;
    height:26px;
}
#kyoto-header-events{
    width:72px;
    height:26px;
}
#kyoto-header-team{
    width:58px;
    height:25px;
}
#kyoto-header-finance{
    width:82px;
    height:26px;
}
#kyoto-header-contact{
    width:85px;
    height:26px;
}
#kyoto-header-contact a{
    background:none !important;
}
/*******FOOTER*******/
#kyoto-footer-line{
    position:relative;
    background-color:#1e1e20;
    height:190px;
}
#kyoto-footer-wrapper{
    width:960px;
    margin-left:auto;
    margin-right:auto;
}
.kyoto-footer{
    position:relative;
    float:left;
    width:320px;
    height:190px;
}
#kyoto-footer-mail, #kyoto-footer-twitter{
    background:transparent !important;
}
.kyoto-footer img{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
/******************コンテンツ設定*****************/
#kyoto-wrapper{
    position:relative;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
}
.kyoto-chapter{
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:40px;
    text-align:center;
}
.kyoto-title{
    margin-left:auto;
    margin-right:auto;
    padding-bottom:20px;
    text-align:center;
}
#kyoto-yearselect{
    background-color:transparent;
    margin-bottom:55px;
}
#kyoto-yearselect td{
    padding:0 10px 0 10px;
}
#kyoto-yearselect td a{
    color:#ffffff;
    font-size:30px;
}
#kyoto-yearselect td a:hover{
    color:#aaaaaa;
}

/*******TOP*******/
#kyoto-top-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url("img/Kyoto-top-background.jpg");
    background-size:cover;
}
#kyoto-background-color{
    position:fixed;
    width:100%;
    height:100%;
    background-size:cover;
    background-color:#333333;
    opacity:0.8;
}
#kyoto-top-wrapper{
    position:relative;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
}
#kyoto-top-formula-wrapper{
    padding:330px 0 0 0;
}
#kyoto-top-formula{
    text-align:center;
}
#kyoto-top-sentence-wrapper{
    padding:41px 0 130px 0;
}
#kyoto-top-sentence{
    text-align:center;
}
/*******ABOUT*******/
#kyoto-about-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/Kyoto-about-background.jpg);
    background-size:cover;
}
.kyoto-about-text{
    padding-bottom:70px;
    color:#ffffff;
}
#kyoto-about-jamboree{
    padding:54px 50px 54px 50px;
    margin-bottom:30px;
    width:860px;
    background:rgba(250,250,250,0.3);
}
#kyoto-about-jamboree img{
    width:100%;
}
/*******HISTORY*******/
#kyoto-history-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/Kyoto-history-background.jpg);
    background-size:cover;
}
#kyoto-history-link{
    padding-bottom:30px;
    text-align:center;
    color:#ffffff;
}
.kyoto-history-year{
    font-size:50px;
    color:#ffffff;
    padding-bottom:10px;
    border-bottom:1px solid #ffffff;
    margin-bottom:55px;
}
.kyoto-history-table{
    background-color:transparent;
    margin-bottom:55px;
}
.kyoto-history-table td{
    margin-bottom:55px;
    vertical-align:top;
}
.kyoto-history-text{
    width:450px;
    padding:0 30px 0 0;
    color:#ffffff;
}
.kyoto-history-photo{
    padding:0 30px 0 30px;
}
.kyoto-history-photo img{
    width:420px;
}
/*******EVENTS*******/
#kyoto-events-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/Kyoto-events-background.jpg);
    background-size:cover;
}
#kyoto-events-content{
    border-left:1px solid #ffffff;
    margin-top:10px;
}
.kyoto-events-table{
    width:959px;
    border:0px;
    background:transparent;
    color:#ffffff
}
.kyoto-events-table td{
    padding:10px;
    vertical-align:top;
}
.kyoto-events-date{
    width:150px;
    border:0px;
    text-align:center;
}
#kyoto-events-content img{
    height:230px;
    padding-left:5px;
    padding-right:5px;
}
.kyoto-events-photo{
    max-width:763px;
    overflow-x:auto;
    white-space:nowrap;
}
#kyoto-events-2018, #kyoto-events-2017, #kyoto-events-2016, #kyoto-events-2015, #kyoto-events-2014, #kyoto-events-2013, #kyoto-events-2012, #kyoto-events-2011, #kyoto-events-2010{
    display:none;
}

/*******TEAM*******/
#kyoto-team-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/Kyoto-team-background.jpg);
    background-size:cover;
}
#kyoto-team-member-wrapper, #kyoto-team-instructor-wrapper, #kyoto-team-adviser-wrapper{
    margin:0px 0px 55px 0px;
}
.kyoto-team-table{
    width:960px;
    border-collapse:collapse;
    margin:0px 0px 55px 0px;
    background:transparent;
}
.kyoto-team-table td{
    vertical-align:top;
    color:#ffffff;
}
.kyoto-team-table-photo{
    width:300px;
    padding-right:60px
}
.kyoto-team-table-photo img{
    width:300px;
}
.kyoto-team-profile{
    width:600px;
}
.kyoto-team-profile h3{
    padding:0;
    margin:0;
    border-bottom:1px solid #ffffff;
    font-size:20px;
    color:#ffffff;
}
.kyoto-team-supporter{
    margin:30px 10px 20px 0px;
    padding:0;
    border:0;
    line-height:1.5em;
    border-bottom:1px solid #000;
    width:50%;
}
.kyoto-team-advisor{
    margin:30px 10px 20px 0px;
    padding:0;
    border:0;
    line-height:1.5em;
    border-bottom:1px solid #000;
    width:50%;
}
.kyoto-team-member{
    color:#ffffff;
}
#kyoto-team-2018, #kyoto-team-2017, #kyoto-team-2016, #kyoto-team-2015, #kyoto-team-2014, #kyoto-team-2013, #kyoto-team-2012, #kyoto-team-2011, #kyoto-team-2010{
    display:none;
}
/*******FINANCE*******/
#kyoto-finance-background{
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/Kyoto-finance-background.jpg);
    background-size:cover;
}
.kyoto-finance-desc{
    padding-bottom:55px;
    color:#ffffff;
}
#kyoto-finance-chart{
    padding:30px 0 30px 0;
    text-align:center;
    margin-bottom:55px;
    background:rgba(250,250,250,0.3);
}

/*******WELCOME*******/
#kyoto-welcome-background{
    z-index:2;
    position:fixed;
    width:100%;
    height:100%;
    background-image:url(./img/kyoto-welcome-background.jpg);
    background-size:cover;
}
