@charset "utf-8";
/* 基本設定 */
html {
    font-family: "游ゴシック体","YuGothic";
    box-sizing: border-box;
}
body {
    color: aliceblue;
    /* -webkit-text-size-adjust: 100%; */
}
#kyoto-wrapper {
    padding-bottom: 50px;
}

/* クラスのスタイル */
.side-by-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.side-by-side>*{
  width: 47.5%;
}
.quiz-title {
    margin: 2em auto;
    text-align: center;
    font-size: 2.5em;
}
.result {
    font-size: 4em;
    text-align: center;
}
.result#correct {
    color: gold;
}
.result#incorrect {
    color: rgb(102, 149, 219);
}
.prob-selecter-wrapper {
    display: block;
    /* display: flex;
    flex-basis: 30%;
    padding: 0; */
}
button {
    cursor: pointer;
    background-color: rgb(73, 124, 232);
    margin-left: auto;
    margin-right: auto;
    border: solid 1px white;
    /* width: 500px; */
    /* height: 150px; */
    /* border-radius: 250px / 75px; */
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.3); 
    text-decoration: none;
}
button:hover {
  border-color: rgb(61, 108, 211);
  background-color: rgb(61, 108, 211);
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

button.prob-selecter {
    display: block;
    border-radius: 10%;
    border-width: 2px;
    color: aliceblue;
    margin: 1em auto; /* 上下　左右 */
    padding :.2em;
    /* width: 50%; */
    font-size: 1.5em;
    width: 300px;
    height: 100px;
}
select {
    font-size: 1.5em;
}

.problem-text {
    font-size: 1.25em;
    line-height: 1.75em;
}
.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.problem-fig img {
    margin: 2em auto;
    display: block;
    max-width: 100%;
}
#peptide-answer-decision, #plasmid-answer-decision {
    font-size: 1.5em;
    color: aliceblue;
    margin: 5%;
    padding: 0.5em;
    border-radius: 0.5em;
}
.answer-form {
    background-color: rgb(67, 86, 149);
    border-color: rgb(67, 86, 149);
    border-style: solid;
    border-radius: 0.5em;
    border-width: 1px;
    margin: 2em;
}

/* detail summary アコーディオン */
details {
    border: 1px solid #ccc;
}
details:not(:last-child) {
    margin-bottom: 20px;
}
details summary {
    cursor: pointer;
    padding: 20px;
    background: rgb(73, 124, 232);
    font-size: 1.5em;
    font-weight: bold;
}
details p, details h1 {
    margin: 0;
    padding: 20px;
}